In [0]:
spark

In [0]:
employee_df=spark.read.format("csv")\
    .option("header","true")\
    .option("inferschema","true")\
    .option('mode','permissive')\
    .load("/FileStore/tables/emlpoyee.csv")

employee_df.show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
employee_df.columns

Out[3]: ['id', 'name', 'age', 'salary', 'address', 'nominee']

In [0]:
employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.select('name').show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
from pyspark.sql.functions import*
from pyspark.sql.types import*


employee_df.select(col('name')).show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
employee_df.select('id').show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

In [0]:
employee_df.select('id+5').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-563033281440816>:1
----> 1 employee_df.select('id+5').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id+5` cannot be resolved. Did you mean one of the following? [`id`, `address`, `age`, `name`, `salary`].;
'Project ['id+5]
+- Relation [id#1602,name#1603,age#1604,salary#1605,address#1606,nominee#1607] csv

In [0]:

employee_df.select(col('id')+5).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:

# using string method
employee_df.select('id','name','age').show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Manish| 26|
|  2|  Nikita| 23|
|  3|  Pritam| 22|
|  4|Prantosh| 17|
|  5|  Vikash| 31|
+---+--------+---+

In [0]:

# using col method
employee_df.select(col('id'),col('name'),col('age')).show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Manish| 26|
|  2|  Nikita| 23|
|  3|  Pritam| 22|
|  4|Prantosh| 17|
|  5|  Vikash| 31|
+---+--------+---+

In [0]:

employee_df.select(employee_df['salary'],col('id'),col('name'),col('age'))

Out[12]: DataFrame[salary: int, id: int, name: string, age: int]

In [0]:


employee_df.select(employee_df['salary']  ,  employee_df.address,  col('id'),col('name'),col('age')).show()

+------+------------+---+--------+---+
|salary|     address| id|    name|age|
+------+------------+---+--------+---+
| 75000|       bihar|  1|  Manish| 26|
|100000|uttarpradesh|  2|  Nikita| 23|
|150000|   Bangalore|  3|  Pritam| 22|
|200000|     Kolkata|  4|Prantosh| 17|
|300000|        null|  5|  Vikash| 31|
+------+------------+---+--------+---+

Expression

In [0]:
employee_df.select('id+5').show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-563033281440824>:1
----> 1 employee_df.select('id+5').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id+5` cannot be resolved. Did you mean one of the following? [`id`, `address`, `age`, `name`, `salary`].;
'Project ['id+5]
+- Relation [id#1602,name#1603,age#1604,salary#1605,address#1606,nominee#1607] csv

In [0]:
#  Using expr to convert string into required format
employee_df.select(expr('id+5')).show()

+--------+
|(id + 5)|
+--------+
|       6|
|       7|
|       8|
|       9|
|      10|
+--------+

In [0]:
employee_df.select(expr("id as empid"),expr("name as empname"),expr('concat(name,address)')).show()

+-----+--------+---------------------+
|empid| empname|concat(name, address)|
+-----+--------+---------------------+
|    1|  Manish|          Manishbihar|
|    2|  Nikita|   Nikitauttarpradesh|
|    3|  Pritam|      PritamBangalore|
|    4|Prantosh|      PrantoshKolkata|
|    5|  Vikash|                 null|
+-----+--------+---------------------+

In [0]:
# to call all columns
employee_df.show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
# to call all columns
employee_df.select("*").show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

Spark SQL

In [0]:
#  create table from datafrom for use in sql
employee_df.createOrReplaceTempView("employee_tbl")

In [0]:
spark.sql("""
          select * from employee_tbl
          """)

Out[20]: DataFrame[id: int, name: string, age: int, salary: int, address: string, nominee: string]

In [0]:
spark.sql("""
          select * from employee_tbl
          """).show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
spark.sql("""
          select 'name','age','salary' from employee_tbl
          """).show()

+----+---+------+
|name|age|salary|
+----+---+------+
|name|age|salary|
|name|age|salary|
|name|age|salary|
|name|age|salary|
|name|age|salary|
+----+---+------+

In [0]:
spark.sql("""
          select name,age,salary from employee_tbl
          """).show()

+--------+---+------+
|    name|age|salary|
+--------+---+------+
|  Manish| 26| 75000|
|  Nikita| 23|100000|
|  Pritam| 22|150000|
|Prantosh| 17|200000|
|  Vikash| 31|300000|
+--------+---+------+

Aliasing in dataframe

In [0]:
employee_df.select(col("id").alias("emp_id"),'name','age').show()

+------+--------+---+
|emp_id|    name|age|
+------+--------+---+
|     1|  Manish| 26|
|     2|  Nikita| 23|
|     3|  Pritam| 22|
|     4|Prantosh| 17|
|     5|  Vikash| 31|
+------+--------+---+

Filter in dataframe

In [0]:
employee_df.filter(col("salary")>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address| nominee|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
employee_df.where(col("salary")>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address| nominee|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
employee_df.filter((col('salary')>150000 & col("age")>18 )).show()

---------------------------------------------------------------------------
Py4JError                                 Traceback (most recent call last)
File <command-563033281440842>:1
----> 1 employee_df.filter(col('salary')>150000 & col("age")>18 ).show()

File /databricks/spark/python/pyspark/sql/column.py:164, in _bin_op.<locals>._(self, other)
    159 def _(
    160     self: "Column",
    161     other: Union["Column", "LiteralType", "DecimalLiteral", "DateTimeLiteral"],
    162 ) -> "Column":
    163     jc = other._jc if isinstance(other, Column) else other
--> 164     njc = getattr(self._jc, name)(jc)
    165     return Column(njc)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:228, in capture_sql_exception.<locals>.deco(*a, **kw)
    226 def deco(*a: Any, **kw: Any) -> Any:
    227     try:
--> 228         return f(*a, **kw)
    229     except Py4JJavaError as e:
    230         converted = convert_exception(e.java_exception)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/protocol.py:330, in get_return_value(answer, gateway_client, target_id, name)
    326         raise Py4JJavaError(
    327             "An error occurred while calling {0}{1}{2}.\n".
    328             format(target_id, ".", name), value)
    329     else:
--> 330         raise Py4JError(
    331             "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332             format(target_id, ".", name, value))
    333 else:
    334     raise Py4JError(
    335         "An error occurred while calling {0}{1}{2}".
    336         format(target_id, ".", name))

Py4JError: An error occurred while calling o2646.and. Trace:
py4j.Py4JException: Method and([class java.lang.Integer]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:341)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:349)
	at py4j.Gateway.invoke(Gateway.java:297)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)

In [0]:
employee_df.filter((col('salary')>150000) & (col("age")>18 )).show()

+---+------+---+------+-------+--------+
| id|  name|age|salary|address| nominee|
+---+------+---+------+-------+--------+
|  5|Vikash| 31|300000|   null|nominee5|
+---+------+---+------+-------+--------+

Literal in df

In [0]:

# this will create column name with kumar ---its wrong
employee_df.select('*',lit("Kumar")).show()

+---+--------+---+------+------------+--------+-----+
| id|    name|age|salary|     address| nominee|Kumar|
+---+--------+---+------+------------+--------+-----+
|  1|  Manish| 26| 75000|       bihar|nominee1|Kumar|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|Kumar|
|  3|  Pritam| 22|150000|   Bangalore|   India|Kumar|
|  4|Prantosh| 17|200000|     Kolkata|   India|Kumar|
|  5|  Vikash| 31|300000|        null|nominee5|Kumar|
+---+--------+---+------+------------+--------+-----+

In [0]:

# this will create column name with given column name by alisaing
employee_df.select('*',lit("Kumar").alias('last_name')).show()

+---+--------+---+------+------------+--------+---------+
| id|    name|age|salary|     address| nominee|last_name|
+---+--------+---+------+------------+--------+---------+
|  1|  Manish| 26| 75000|       bihar|nominee1|    Kumar|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|    Kumar|
|  3|  Pritam| 22|150000|   Bangalore|   India|    Kumar|
|  4|Prantosh| 17|200000|     Kolkata|   India|    Kumar|
|  5|  Vikash| 31|300000|        null|nominee5|    Kumar|
+---+--------+---+------+------------+--------+---------+

Withcolumn by Alias

In [0]:
employee_df.withColumn("sur_name",lit("singh")).show()

+---+--------+---+------+------------+--------+--------+
| id|    name|age|salary|     address| nominee|sur_name|
+---+--------+---+------+------------+--------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|   singh|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|   singh|
|  3|  Pritam| 22|150000|   Bangalore|   India|   singh|
|  4|Prantosh| 17|200000|     Kolkata|   India|   singh|
|  5|  Vikash| 31|300000|        null|nominee5|   singh|
+---+--------+---+------+------------+--------+--------+

Withcolumn by rename

In [0]:
employee_df.withColumnRenamed("id",'employee_id').show()

+-----------+--------+---+------+------------+--------+
|employee_id|    name|age|salary|     address| nominee|
+-----------+--------+---+------+------------+--------+
|          1|  Manish| 26| 75000|       bihar|nominee1|
|          2|  Nikita| 23|100000|uttarpradesh|nominee2|
|          3|  Pritam| 22|150000|   Bangalore|   India|
|          4|Prantosh| 17|200000|     Kolkata|   India|
|          5|  Vikash| 31|300000|        null|nominee5|
+-----------+--------+---+------+------------+--------+

In [0]:
employee_df.withColumnRenamed("id",'employee_id').printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

Typecasting

In [0]:
employee_df.withColumn("id",col('id').cast("string")).printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
# changing salry  from integer to "long"
employee_df.withColumn("id",col('id').cast("string")).withColumn("salary" , col("salary").cast("long")).printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: long (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

REmove columns

In [0]:

employee_df.drop('id',col('age'),col('address'),employee_df.salary,employee_df.nominee).show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

Spark SQL

In [0]:
spark.sql("""
          select * from employee_tbl where salary>150000 and age<18

          """).show()

+---+--------+---+------+-------+-------+
| id|    name|age|salary|address|nominee|
+---+--------+---+------+-------+-------+
|  4|Prantosh| 17|200000|Kolkata|  India|
+---+--------+---+------+-------+-------+

In [0]:
spark.sql("""
          select *, "kumar" as last_name ,concat(name,' ',last_name) as FUll_name\
               from employee_tbl where salary>150000 and age<18
          """).show()

+---+--------+---+------+-------+-------+---------+--------------+
| id|    name|age|salary|address|nominee|last_name|     FUll_name|
+---+--------+---+------+-------+-------+---------+--------------+
|  4|Prantosh| 17|200000|Kolkata|  India|    kumar|Prantosh kumar|
+---+--------+---+------+-------+-------+---------+--------------+