In [0]:
spark

In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
     ]

schema = ['id','name','salary','mngr_id']

In [0]:
print(data)
print(schema)

[(10, 'Anil', 50000, 18), (11, 'Vikas', 75000, 16), (12, 'Nisha', 40000, 18), (13, 'Nidhi', 60000, 17), (14, 'Priya', 80000, 18), (15, 'Mohit', 45000, 18), (16, 'Rajesh', 90000, 10), (17, 'Raman', 55000, 16), (18, 'Sam', 65000, 17), (15, 'Mohit', 45000, 18), (13, 'Nidhi', 60000, 17), (14, 'Priya', 90000, 18), (18, 'Sam', 65000, 17)]
['id', 'name', 'salary', 'mngr_id']

In [0]:
mngr_df = spark.createDataFrame(data= data,schema= schema)
mngr_df.show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 15| Mohit| 45000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 90000|     18|
| 18|   Sam| 65000|     17|
+---+------+------+-------+

In [0]:
mngr_df.count()

Out[8]: 13

In [0]:
mngr_df.distinct('id','name').show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-3279064826818369>:1
----> 1 mngr_df.distinct('id','name').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
print(mngr_df.select('id','name').distinct().count())
mngr_df.select('id','name').distinct().show()

9
+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
mngr_df.dropDuplicates(['id','name','salary','mngr_id']).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 12| Nisha| 40000|     18|
| 11| Vikas| 75000|     16|
| 13| Nidhi| 60000|     17|
| 15| Mohit| 45000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 14| Priya| 90000|     18|
+---+------+------+-------+

In [0]:
mngr_df.sort((col('sal')).show())

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-3279064826818372>:1
----> 1 mngr_df.sort((col('sal')).show())

NameError: name 'col' is not defined

In [0]:
from pyspark.sql.functions import *                           


mngr_df.sort(col('salary')).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 12| Nisha| 40000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 10|  Anil| 50000|     18|
| 17| Raman| 55000|     16|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 11| Vikas| 75000|     16|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
+---+------+------+-------+

In [0]:
mngr_df.sort(col('salary').desc()).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 14| Priya| 90000|     18|
| 16|Rajesh| 90000|     10|
| 14| Priya| 80000|     18|
| 11| Vikas| 75000|     16|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 17| Raman| 55000|     16|
| 10|  Anil| 50000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 12| Nisha| 40000|     18|
+---+------+------+-------+

In [0]:

mngr_df.sort(col('salary').desc(),col('name').desc()).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
| 14| Priya| 80000|     18|
| 11| Vikas| 75000|     16|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 17| Raman| 55000|     16|
| 10|  Anil| 50000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 12| Nisha| 40000|     18|
+---+------+------+-------+

In [0]:

mngr_df.sort(col('salary').asc(),col('name').asc()).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 12| Nisha| 40000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 10|  Anil| 50000|     18|
| 17| Raman| 55000|     16|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
| 11| Vikas| 75000|     16|
| 14| Priya| 80000|     18|
| 14| Priya| 90000|     18|
| 16|Rajesh| 90000|     10|
+---+------+------+-------+

In [0]:
mngr_df.sort(col('id')).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 90000|     18|
| 15| Mohit| 45000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 18|   Sam| 65000|     17|
+---+------+------+-------+

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

schema_leet = ['id','name','refree_id']

In [0]:
schema_leet

Out[19]: ['id', 'name', 'refree_id']

In [0]:
leet_df =spark.createDataFrame(data =leet_code_data,schema =schema_leet)
leet_df.show()

+---+----+---------+
| id|name|refree_id|
+---+----+---------+
|  1|Will|     null|
|  2|Jane|     null|
|  3|Alex|        2|
|  4|Bill|     null|
|  5|Zack|        1|
|  6|Mark|        2|
+---+----+---------+